
.weather_Input{
    width: 100%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;    
    outline: none;
    transition: 0.3s ease;
    font-family: monospace;
    font-size: 30px;
}
.weather_Input:focus,
.weather_Input:hover {
  outline: none;
  border-color: rgba(8, 137, 206, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(0, 42, 255, 0.1);
  padding: 12px;
}
._conteiner{
    background: linear-gradient(to bottom right, #7A7FBA, #11C37C);
    height: 200vh;
    padding-top: 80px;
}
.location_centr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.w-100{
    width: 400px;
}

.weather_box{
    margin-top: 90px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    border-radius: 20px;
    padding: 10px;
}
.name{
    font-size: 30px;
    text-align: center;
    color: rgb(1, 9, 10);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.temp{
    padding-top: 15px;
    text-align: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex{
    display: flex;
   
}
.justify-between{
    justify-content:space-evenly ;
    align-items: baseline;
}
.flex-col{
    flex-direction: column;
}
.weather_image{
    text-align: center;
}
.weather_image image{
    width: 270px;
}
.description{
    font-family: cursive;
}
.sunshine{
    padding-top: 2rem;
    width: 100%
}
.sunFont{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.optionalTxt{
    font-size: 1.4rem;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pt-10{
    padding-top: 2rem;
}

.svg_size svg {
    width: 100%;
}
hr{
    height: 1px;
    color: #7A7FBA;
}
